@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize.css';
@import 'variables';

@import 'blockquotes';
@import 'code';
@import 'mobile-menu';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Hind&display=swap');

* {
    font-family: 'Hind', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', sans-serif;
}

* {
    box-sizing: border-box;
    border: 0 none;
    color: $font-color;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ol, ul {
    padding-left: 1.5em;
}

.hidden {
    display: none !important;
}

html, body {
    height: 100%;
}

/* Placement */

body {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    padding: 0.6em;
}

.header, .footer {
    flex: 0 0 auto; 
}

/* Header */

.header, .site-header {
    display: flex;
    justify-content: space-between;
}

.header {
    .active {
        background-color: $accent-color;
        border-radius: 0.4em;
    }

    ul {
        padding: 0.6em;
    }

    ul li {
        padding-top: 0.6em;
        padding-bottom: 0.6em;
    }

}

/* Title */

.title, .logo {
    padding: 3em 3em 3em 0;
}

@media (max-width: 767px) {
    .title, .logo {
        padding: 1em 1em 1em 0;
    }

    .title {
        min-width: 50%;
    }

    .logo {
        max-width: 30%;
    }
}

.title {
    * {
        color: #111;
    }

    p {
        font-style: italic;
    }
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
    padding: 0.2em;

    .social {
        font-size: 2rem;
        overflow: hidden;
    }

    social a {
        color: #222;
    }
}

/* Typografy */

body {
    line-height: 1.5rem;
    color: #444;
}

p, td, th, li, dd {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
}

/* Image */

img {
    max-width: 100%;
}

.small { 
    width: 45%;
    padding-top: 0.6em;
}
